[Unit]
Description=SmartMgr-IOS
After=network.target

[Service]
Type=forking
PIDFile=/var/run/smartmgr-ios.pid
ExecStart=/opt/smartmgr/pdsframe/pdsframe --config /opt/smartmgr/conf/service.ios.ini --action start
ExecStop=/opt/smartmgr/pdsframe/pdsframe --config /opt/smartmgr/conf/service.ios.ini --action stop
KillMode=process

[Install]
WantedBy=multi-user.target
