body {
    margin:0 auto;
    width:1080px;
    color: #7C705E;
    background-color: #F2F2F2;
    word-wrap: break-word;
    line-height: 1.7;
    font-family: Verdana,"lucida grande","lucida sans unicode",lucida,helvetica,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    font-size: 12px;
    font-weight: 100;
} 
a {
    color: #BD5532;
    text-decoration: none;
}
.header {
    color: #BD5532;
}
.main {
    margin:10px auto;
    padding:30px 50px 50px 50px;
    width:980px;
    border:1px solid #dcdcdc;
    background-color:#FFF;
} 
.content {
    margin:0 auto;
    width:980px;
} 
.page {
    padding:0px;
}
.menu {
    font-weight:bold;
    margin:5px 0 5px 0;
}
.topic_title {
    margin: 20px 0 0 0;
    font-weight:bold;
    font-size: 16px;
}
.sub {
    margin: 20px 0 0 0;
    font-weight:bold;
    font-size: 18px;
}
.topic_key {
    font-weight:bold;
}
.topic_info {
    margin:0 0 0 20px;
}
.topic_url {
    padding:5px;
    background-color: #fafafa;
    border: 1px solid #e2e2e2;
}
.topic_value {
    padding:5px;
    background-color: #fafafa;
    border: 1px solid #e2e2e2;
}
.top_ul {
    padding:5px;
    background-color: #fafafa;
    border: 1px solid #e2e2e2;
}
.top_ul ul {
    margin:0px;
    list-style:none;
}
.topic_request_demo {
    padding:0 5px 0 5px;
    line-height: 1;
    background-color: #fafafa;
    border: 1px solid #e2e2e2;
}
.topic_response_demo {
    padding:0 5px 0 5px;
    line-height: 1;
    background-color: #fafafa;
    border: 1px solid #e2e2e2;
}
.attr {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    border-width: 0;
    empty-cells: show;
    border: #e2e2e2;
}
.attr td {
    padding:0 5px 0 5px;
    border: 1px solid #ddd;
}
.attr th {
    background-color: #fafafa;
    border: 1px solid #ddd;
}

